data_carpentries/data
data_challenges/challenge_1/.ipynb_checkpoints
data_challenges/challenge_2/.ipynb_checkpoints
data_challenges/challenge_2/data
data_carpentries/statistical_inferece_data_visualization/.ipynb_checkpoints
